* {
    font-family: "JetBrains Mono Regular Nerd Font";
}

window {
    /* background-image: url("nord.jpg"); */
    background-position: center;
    background-size: cover;
    background-color: #4c566a;
}
button {
    color: #d8dee9;
    opacity: 0.8;
    background-color: #2e3440;
    border-style: none;
    border-width: 2px;
    margin: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    border-radius: 10px 0 10px 0;
}

button:focus, button:active, button:hover {
    color: #2e3440;
    background-color: #d8dee9;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
